/* Set the font family and size for the entire body */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  
  /* Style for text areas and text inputs */
  textarea {
    background: transparent; 
    border: none; 
    resize: none; 
    color: #000000; 
    border-left: 1px solid black; 
    padding: 10px; 
    
  }
  
  .container {
    background-color: #f5f5f5; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
    padding: 20px; 
    margin-top: 20px; 
    margin-bottom: 20px; 
    border: #bd06d5 2px solid; 
  }
  
  .display-3{
    font-size: 120px;
    font-weight: bolder;
    color: #bd06d5;
    text-decoration: underline;
    text-decoration-color: #3b0542;
  }
  
  /* Styling for the header section */
header {
    text-align: center; 
    background-color: transparent; 
    color: black; 
    border-radius: 0; 
    border-bottom: 10px solid black; 
    padding: 60px; 
  }
  
  /* Styling for elements with class 'description' */
  .description {
    white-space: pre-wrap; 
  }

  /* Styling for elements with class 'time-block' and 'future' */
.time-block {
    text-align: center; 
    border-radius: 15px; 
  }
  
  /* Styling for elements with class 'row' and 'hour' */
  .row {
    white-space: pre-wrap; 
    height: 80px; 
    border-top: 1px solid white; 
  }
  
  /* Styling for elements with class 'hour' */
  .hour {
    background-color: #ffffff; 
    color: #000000; 
    border-top: 1px dashed #000000; 
  }
  
  /* Styling for elements with class 'past' */
  .past {
    background-color: #d3d3d3; 
    color: rgb(65, 0, 0); 
  }
  
  /* Styling for elements with class 'present' */
  .present {
    background-color: #ff6961; 
    color: rgb(65, 0, 0); 
  }
  
  /* Styling for elements with class 'future' */
  .future {
    background-color: #77dd77; 
    color: rgb(65, 1, 1); 
  }
  
  /* Styling for elements with class 'saveBtn' */
  .saveBtn {
    border-left: 1px solid black; 
    border-top-right-radius: 15px; 
    border-bottom-right-radius: 15px; 
    background-color: #bd06d5; 
    color: white; 
  }
  
  /* Styling for the hover effect of 'saveBtn' */
  .saveBtn i:hover {
    font-size: 20px; 
    transition: all 0.3s ease-in-out; 
  }
  