/* Set the font family and size for the entire body */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  
  /* Style for text areas */
  textarea {
    background: transparent; /* Make the background transparent */
    border: none; /* Remove border */
    resize: none; /* Disable text area resizing */
    color: #000000; /* Text color */
    border-left: 1px solid black; /* Add a left border */
    padding: 10px; /* Padding around text */
    
  }
  
  .container {
    background-color: #f5f5f5; /* Light gray background color */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    border-radius: 10px; /* Rounded corners */
    padding: 20px; /* Padding around the content */
    margin-top: 20px; /* Add some space at the top */
    margin-bottom: 20px; /* Add some space at the bottom */
    border: #bd06d5 2px solid; /* Add a border */
  }
  
  .display-3{
    font-size: 120px;
    font-weight: bolder;
    color: #bd06d5;
    text-decoration: underline;
    text-decoration-color: #3b0542;
  }
  
  /* Styling for the header section */
header {
    text-align: center; /* Center-align text */
    background-color: transparent; /* Transparent background */
    color: black; /* Text color */
    border-radius: 0; /* Border radius */
    border-bottom: 10px solid black; /* Thick black border at the bottom */
    padding: 60px; /* Padding around header content */
  }
  
  /* Styling for elements with class 'description' */
  .description {
    white-space: pre-wrap; /* Preserve line breaks and wrap text */
  }

  /* Styling for elements with class 'time-block' */
.time-block {
    text-align: center; /* Center-align text */
    border-radius: 15px; /* Rounded corners */
  }
  
  /* Styling for elements with class 'row' */
  .row {
    white-space: pre-wrap; /* Preserve line breaks and wrap text */
    height: 80px; /* Set a fixed height */
    border-top: 1px solid white; /* Top border with white color */
  }
  
  /* Styling for elements with class 'hour' */
  .hour {
    background-color: #ffffff; /* White background */
    color: #000000; /* Text color */
    border-top: 1px dashed #000000; /* Dashed top border with black color */
  }
  
  /* Styling for elements with class 'past' */
  .past {
    background-color: #d3d3d3; /* Gray background */
    color: rgb(65, 0, 0); /* Text color */
  }
  
  /* Styling for elements with class 'present' */
  .present {
    background-color: #ff6961; /* Red background */
    color: rgb(65, 0, 0); /* Text color */
  }
  
  /* Styling for elements with class 'future' */
  .future {
    background-color: #77dd77; /* Green background */
    color: rgb(65, 1, 1); /* Text color */
  }
  
  /* Styling for elements with class 'saveBtn' */
  .saveBtn {
    border-left: 1px solid black; /* Left border with black color */
    border-top-right-radius: 15px; /* Top-right border radius */
    border-bottom-right-radius: 15px; /* Bottom-right border radius */
    background-color: #bd06d5; /* Blue background color */
    color: white; /* Text color */
  }
  
  /* Styling for the hover effect of 'saveBtn' */
  .saveBtn i:hover {
    font-size: 20px; /* Increase font size on hover */
    transition: all 0.3s ease-in-out; /* Add a smooth transition effect */
  }
  